DTD/[2019-02-15]Ejercicio7_UcedaMario.dtd

<!-- Mario Uceda Yeves
Lenguaje de Marcas // Desarrollo de Aplicaciones Multiplataforma (DAM)
Fecha de entrega: 2019-02-15 // Fecha oficial de entrega: 2019-02-15-->

<!ELEMENT libro (nombre,(autor,valoración?)+,tienda*)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT valoración (#PCDATA)>
<!ELEMENT tienda (#PCDATA)>