XSD/[2019-04-21]Ejercicio10_UcedaMario.xsd

<!-- Mario Uceda Yeves
Módulo: Lenguaje de Marcas // Ciclo: Desarrollo de Aplicaciones Multiplataforma (DAM)
Fecha entrega: 2019-04-18 // Fecha Oficial de entrega: 2019-04-21 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="th" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        <xs:element name="tr" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="border" type="positiveInteger"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>