XSD/[2019-04-21]Ejercicio8_UcedaMario.xsd

<!-- Mario Uceda Yeves
Módulo: Lenguaje de Marcas // Ciclo: Desarrollo de Aplicaciones Multiplataforma (DAM)
Fecha entrega: 2019-04-18 // Fecha Oficial de entrega: 2019-04-21 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="textarea">
    <xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string"/>
					<xs:attribute name="rows" type="xs:integer"/>
					<xs:attribute name="cols" type="xs:integer"/>
				</xs:extension>
			</xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
</xs:schema>