XSD/[2019-04-21]Ejercicio7_UcedaMario.xsd

<!-- Mario Uceda Yeves
Módulo: Lenguaje de Marcas // Ciclo: Desarrollo de Aplicaciones Multiplataforma (DAM)
Fecha entrega: 2019-04-18 // Fecha Oficial de entrega: 2019-04-21 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="img">
    <xs:complexType>
      <xs:attribute name="src" type="xs:string"/>
      <xs:attribute name="alt" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>