XSD/[2019-04-21]Ejercicio12_UcedaMario.xsd

<!-- Mario Uceda Yeves
Módulo: Lenguaje de Marcas // Ciclo: Desarrollo de Aplicaciones Multiplataforma (DAM)
Fecha entrega: 2019-04-18 // Fecha Oficial de entrega: 2019-04-21 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trayecto" type="tipoTrayectos"/>
  
	<xs:complexType name="tipoTrayecto">
		<xs:sequence>
			<xs:element name="origen" type="xs:string"/>
			<xs:element name="destino" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>